In [1]:
# The usual libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Establish database connection

from sqlalchemy import create_engine

db_name = 'db_name'
db_password = 'db_password'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/{db_name}"
engine = create_engine(db_string)

In [3]:
# Import sql tables as pandas dataframes. May not end up using some but they're available if I do. 

pet_names = pd.read_sql("select * from pet_names", engine)
name_counts = pd.read_sql("select * from name_counts", engine)
name_year = pd.read_sql("select * from name_year", engine)
yearly_top5 = pd.read_sql("select * from yearly_top5", engine)
yearly_totals = pd.read_sql("select * from yearly_totals", engine)

In [7]:
pet_names.dtypes

animal_name              object
animal_gender            object
animal_birth_year         int64
breed_name               object
zipcode                 float64
license_issue_date       object
license_expired_date     object
extract_year              int64
dtype: object

In [11]:
pet_names['license_issue_date'] = pd.to_datetime(pet_names['license_issue_date'])
pet_names['license_expired_date'] = pd.to_datetime(pet_names['license_expired_date'])

In [13]:
pet_names.dtypes

animal_name                     object
animal_gender                   object
animal_birth_year                int64
breed_name                      object
zipcode                        float64
license_issue_date      datetime64[ns]
license_expired_date    datetime64[ns]
extract_year                     int64
dtype: object